# =========================
# Fichiers compilés et cache Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.mypy_cache/
.pytest_cache/
.ruff_cache/
.cache

# =========================
# Environnements virtuels Python
# =========================
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# =========================
# Distribution et Packaging
# =========================
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
__pypackages__/

# =========================
# Logs et Couverture de tests
# =========================
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
cover/
*.log

# =========================
# Web et Frameworks
# =========================
local_settings.py
instance/
.webassets-cache
.scrapy
docs/_build/

# =========================
# Outils, Notebooks et Éditeurs
# =========================
.ipynb_checkpoints
profile_default/
ipython_config.py
.pdm.toml
.pdm-python
.pdm-build/
celerybeat-schedule
celerybeat.pid
*.sage.py
.spyderproject
.spyproject
.ropeproject
/site
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
.idea/
.pypirc
.cursorignore
.cursorindexingignore
.vscode/

# =========================
# Bases de données locales
# =========================
db.sqlite3
db.sqlite3-journal
*.db
*.sql.gz

# =========================
# Machines Virtuelles et Infra réseau
# =========================
*.vdi
*.vmdk
*.vhdx
*.ova
*.ovf
*.iso
*.pcap

# =========================
# Fichiers Système
# =========================
.DS_Store
Thumbs.db
*.mo
*.pot